<html lang = 'en'>
    <%- include('./partials/header.ejs')%>
    <body>
      <%- include('./partials/navigate.ejs')%> <!-- when we use = sign it escapes speacial characters and get string instread of raw html-->
      
        <div class = 'blog detail'>
            <h2>
                <%= blog.title %>
                <label> <i><%= blog.date.toLocaleDateString('en-US') %></i></label>
            </h2>
            
              <div class = 'content'>
                <%- blog.htmlContent %>
            </div>
        </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>