<html lang = 'en'>
    <%- include('./partials/header.ejs')%>
    <body>

      <%- include('./partials/navigate.ejs')%> <!-- when we use = sign it escapes speacial characters and get string instread of raw html-->


    <div class = 'blogs content'>
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
            <h3 class = 'name'><%= blog.title %></h3>   
            <p class = 'snip'><%= blog.snip %></p>  
        <% }) %>
       <% } else { %>
            <p>no blogs! sip your coffee and wait for the next one.</p>
        <% } %> 
    </div>

    <%- include('./partials/footer.ejs')%>
    </body>

</html>